<mat-card class="main-card">
    <mat-card-title>{{ apiKey ? 'Upload a video' : 'Authentication required' }}</mat-card-title>
    <mat-card-content *ngIf="apiKey; else authNeededContent" style="text-align: center;">
        <input mat-stroked-button type="file" (change)="uploadFileChanged($event.target.files)"
            style="display: none;" #fileInput>
        <button mat-fab 
            color="primary" 
            aria-label="Select file for upload" 
            (click)="fileInput.click()" 
            [disabled]="!authValidated"
            *ngIf="!spinning; else uploadSpinning">
            <mat-icon>upload</mat-icon>
        </button>
        <ng-template #uploadSpinning>
            <mat-spinner style="margin:0 auto;" ></mat-spinner>
        </ng-template>
        <p>Select a file to upload.</p>
    </mat-card-content>
    <ng-template #authNeededContent>
        <mat-card-content>
            <p>Authentication with Google is required in order to proceed with the upload.</p>
        </mat-card-content>
    </ng-template>
    <mat-card-actions *ngIf="apiKey; else authNeededActions">
        <button mat-stroked-button color="accent" (click)="clearToken()">Clear token</button>
    </mat-card-actions>
    <ng-template #authNeededActions>
        <!-- Remove when login integrated with google -->
        <mat-card-actions>
            <button mat-stroked-button color="accent" (click)="getAuthToken()">Authenticate with google</button>
        </mat-card-actions>
    </ng-template>
</mat-card>